$lightBlue: #889ef4;

.app{
    display: flex;
    justify-content: center;
    .container{
        width: 1024px;

        .link{
            font-size: 20px;
            text-decoration: none;
            color: inherit;
        }
        
        //LOGIN & REGISTER

        .auth{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: $lightBlue;
            height: 100vh;

            h1{
                font-size: 20px;
                color: #12246b;
                margin-bottom: 20px;                
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;
                
                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button{
                    padding: 10px;
                    border: none;
                    background-color: #12246b;
                    cursor: pointer;
                    color: white;
                }

                p{
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span{
                    font-size: 14px;
                    text-align: center;

                }
            }
        }

        //NAVBAR

        .navbar{
            .container{
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;

                .logo{
                    img{
                        width: 120px;
                    }
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;;

                    h6{
                        font-size: 14px;
                        font-weight: 300px;
                        gap: 1px;
                    }

                    span{
                        cursor: pointer;
                    }

                    .pedidos{
                        background: #0f222d;
                        width: 100px;
                        height: 50px;
                        border-radius: 10%;                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;

                        &:hover{
                            color: $lightBlue;
                            background-color: white;
                            border: 1px;
                        }
                    }
                }
            }
        }

        // FOOTER

        footer{
            padding: 5px;
            background-color: #0f222d;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;

            img{
                width: 100px;
                margin-left: 30px;

            }

            .text{
                color: white;
                margin-right: 30px;
            }
        }

        // HOME
        
        .home-container {
            position: relative;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000; // Un color de fondo para el video
          }
          
          .video-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
          
            .video {
              width: 100%;
              height: 100%;
              object-fit: cover; // Asegura que el video cubra todo el contenedor
            }
          
            .cards-container {
              position: absolute;
              bottom: 50px; // Coloca las tarjetas en la parte inferior
              width: 100%;
              display: flex;
              justify-content: left;
              align-items: center;
              padding: 30px;
          
              .card {
                width: 230px;
                height: 150px;
                background-color: #ffffffcc; // Tarjetas semitransparentes
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                transition: transform 0.3s ease;
          
                &:hover {
                  transform: translateY(-10px); // Efecto hover para levantar la tarjeta
                }
          
                .card-link {
                  text-decoration: none;
                  color: #333; // Color del texto
                  font-size: 1.2rem;
                  font-weight: bold;
                }
              }
            }
          }
          

    }
}